*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    
}
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    justify-content: center;
}
h1{
    color: white;
    font-size: 50px;
}
#wel{
    font-family: 'Thasadith', sans-serif;
}
#dev{
    font-family: 'Armata', sans-serif;

}

nav{
    height: 50px;
    background-color: rgb(29, 29, 29);
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
a:hover{
    color: rgb(221, 221, 221);
    transition: 1s;
}
a:not(:hover){
    font-size: 30px;
    transition: 1s;

}
li{
    list-style-type: none;
}